<!DOCTYPE html>
<html>
    <head>
        <title>Buku Tamu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Buku Tamu</h1>
        <h2>Isian Buku Tamu</h2>
            <div th:each="x : ${bukuTamu}">
                <hr>
                <strong>Nama</strong>: <span th:text="${x.nama}"></span><br>
                <strong>Isian</strong>: <span th:text="${x.pesan}"></span><br>
                <hr>
            </div>

        <h2>Form Pengisian</h2>
        <form method="post" action="/kirim">
            Nama: <input type="text" name="nama">
            Isian: <input type="text" name="pesan">
            <input type="submit" value="Kirim">
        </form>
    </body>
</html>
